@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy');

* { margin:0px; padding:0px; }

body{
  width: 100%;
  height: 100%;
  color:#fafafa;
  background-image:url('/footer_lodyas.png');
}
a{
  text-decoration: none;
}
.yellow-header{
  width: 100%;
  height:50px;
  color:#333;
  padding-top:20px;
}

.branding{
  float:left;
}

.login{
  float:right;
}

.top-bar::after{
  display:block;
  clear:both;
  content:" ";
}

.form-wrapper{
  padding-top:100px;
  padding-left:20px;
  margin:auto;
  text-align:center;
}

.subtitle{
  font-size:64px;
  font-family: 'Luckiest Guy', cursive;
}

.issue-input{
  outline:none;
  border:none;
  width:450px;
  height:50px;
  border-bottom:2px solid #fafafa;
  background-color: transparent;
  font-size:36px;
}

.issue-input::-webkit-input-placeholder{
  color:#fafafa;
}

.issue-list{
  width:60%;
  margin: auto;
}

.issue-item{
  list-style-type: none;
  display: block;
  background-color:#fafafa;
  padding:20px;
  margin:10px;
  text-align:left;
  text-indent:5px;
  color:#333;
}

.shota-vala{
  height:200px;
}

.issue-content{
  margin-top:60px;
}

.next-icon{
 width:20px;
 height:auto;
 float:right;
}

.issue-item:after{
  content:"";
  display:block;
  clear:both;
}

.issue{
  font-size:34px;
  text-align:center;
  font-family: 'Luckiest Guy', cursive;
}

.time{
  font-size:120px;
  text-align:center;
}

.btn, .btn2, .complete{
  text-align:center;
}

.btn-item{
  cursor: pointer;
  border:none;
  background-color:#fff;
  border:2px solid #333;
  width:80px;
  height:40px;
}

.complete{
  margin-top:50px;
  width:130px;
}

button:hover{
  background-color:#333;
  color:#fafafa;
}
#login-buttons a, .accounts-dialog a {
  text-decoration: none;
}

.additional-link-container{
  color: #333;
}
#login-dropdown-list {
  position: absolute;
  top: 10px;
  left: -213px;
}

.container{
   text-align:center;
}

.repo{
   height:140px;
   display:inline-block;
   border:8px solid #3e3e3e;
   background-color:#333;
   margin:10px;
   padding:10px;
   transition:all ease .5s;
}

.repo:hover{
   border:8px solid #f1c40f;
}

.big-alphabet{
   margin:20px;
   text-align:center;
   font-size:48px;
   color:#fff;
   text-transform:uppercase;
}

.repo-item{
   display:block;
   color:#f1c40f;
   font-size:20px;
   text-align:center;
   word-wrap:break-word;
}

.page-heading{
   color:#fafafa;
   padding:30px;
   text-align:center;
}

.issue-container{
    max-width:600px;
    margin:auto;
}

.issueTitle{
   width:100%;
   border:none;
   outline:none;
   font-size:32px;
   background-color:transparent;
   border-bottom:2px solid #f1c40f;
   color:#fff;
}

.comment{
   padding:10px;
   font-size:20px;
   border-bottom:1px solid #333;
}

.comment-container{
   box-shadow:0px 1px 1px 0px #fafafa;
   margin-bottom:30px;
}
